<div class="nav-extra">
  <a href="mailto:tu_correo@dominio.com"><i class="fa-solid fa-envelope"></i></a>
  <a href="https://wa.me/51959796371">+51 959 796 371</a>
</div>
<nav class="navbar">
  <div class="navbar-left">Tours</div>
  <div class="navbar-right">
    <a routerLink="/">Inicio</a>
    <a routerLink="/promociones">Promociones</a>
    <a routerLink="/contactanos">Contáctanos</a>
    <a routerLink="/nosotros">Nosotros</a>
    <a href="https://wa.me/51959796371" target="_blank" class="whatsapp-btn">Reservar</a>
  </div>
</nav>